header {
    background-image: url(../img/pattern.png);
    background-color: rgb(24, 185, 210);
}

.container {
    width: 20%;
}

.booleaner, .testo-piccolo {
    color: gray;
}
.testo-piccolo{
   font-size: 75%;
}

#the-booleaner {
    color: rgb(110, 149, 222);
}

.desc-foto {
    font-size: 70%;
}

.giallo {
    background-color: yellow;
}

.aqua {
    background-color: rgba(6, 178, 236, 0.863);
    color: white;
}

.lightblue {
    background-color: lightblue;
}

table {
    border-collapse: collapse;
}

.imgfoot1 {
    background-image: url(../img/monitor.jpg);
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}

.imgfoot2 {
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    color: white;
}